.event-calendar table {
    width: 100%;
    text-align: center;
}
.event-calendar th,
.event-calendar td{
    padding: 10px 5px;
}
.event-calendar th{
    font-weight: bold;
}

/* ヘッダー */
.event-calendar .event-calendar__header {
    text-align: center;
}
.event-calendar .event-calendar__title{
    font-size: 22px;
    font-weight: bold;
}

.event-calendar .event-calendar__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    font-size: 22px;
    color: #1B9AE4;
}
.event-calendar .event-calendar__button.event-calendar__button--prev {
    margin-right: 20px;
}
.event-calendar .event-calendar__button.event-calendar__button--next {
    margin-left: 20px;
}
/* テーブルbody */
.event-calendar .event-calendar__current{
    background: #1B9AE4;
    color: #fff;
}

.event-calendar .event-calendar__has-event{
    position: relative;
}
.event-calendar .event-calendar__has-event::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    background: #1B9AE4;
    border-radius: 50%;
}

.event-calendar .event-calendar__current.event-calendar__has-event::before{
    background: #fff;
}